<h1>Portfolio Items</h1>
<% @portfolio_items.inspect %>
<% @portfolio_items.each do |portfolio_item|%>
<h2><%= portfolio_item.title %></h2>
<p><%= portfolio_item.subtitle %></p>
<p><%= portfolio_item.body %></p>
<%= image_tag portfolio_item.thumb_image %>
<% end %>