<h1>Portfolio</h1>

<main>
  <div class="container"><%= image_tag @portfolio_item.main_image, class: "mainimg"  %><br></div>
  <h2><%= @portfolio_item.title %></h2>
  <h3><em><%= @portfolio_item.subtitle %></em></h3>
  <p><%= @portfolio_item.body %></p>
</main>

