// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
  margin: 0 auto;
}
nav div {
  display: inline-block;
  float: right;
  padding: 5px;
  margin-left: 0;
  overflow: hidden;
  font-size: 0.5em;
  text-align: right;
  text-decoration: none;
  color: black;
}
nav div:hover {

}